<div class="dsc-card" *ngIf="data" routerLink="/panel/user/{{data.id}}">
    <div class="dsc-card__img">
        <img src="{{data.avatar}}" alt="">
    </div>
    <div class="dsc-card__info">
        <h2>{{data.name}}</h2>
        <h4>Edad: {{data.age}}</h4>
        <p>Genero:
            <ng-container [ngSwitch]="data.gender">
                <span *ngSwitchCase="'F'">Femenino</span>
                <span *ngSwitchCase="'M'">Masculino</span>
                <span *ngSwitchDefault>S/N</span>
            </ng-container>
        </p>
        <p>{{data.description}}</p>
        <p *ngIf="data.work">{{data.work}}</p>
    </div>
</div>