<div class="dsc-header__brand">
    <fa-icon [icon]="faBars" class="dsc-header__brand-menu" (click)="showMenu.emit()"></fa-icon>
    <div class="dsc-header__brand-logo">
        <img src={{logo}} alt="designicode-logo"/>
        <span>etFlix</span>
    </div>
</div>
<div class="dsc-header__submenu">
    <fa-icon [icon]="faBell" class="dsc-header__submenu-icon"></fa-icon>
    <fa-icon [icon]="faComment" class="dsc-header__submenu-icon"></fa-icon>
    <div class="dsc-header__submenu-usr" [ngStyle]="{'background-image': 'url('+this.authService.getUser.avatar+')'}"></div>
</div>