@import '../variables.scss';

@mixin create-footer($name, $theme) {
    .dsc-#{$name}{
        .dsc-footer {
            grid-column: 2;
            grid-row: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.25rem;
            margin: 0 1rem 0.5rem 1rem;
            border-radius: 3px;
            background: map-get($map: $theme, $key: 'primary');
            color: map-get($map: $theme, $key: 'light');
            > h6 {
                font-weight: 300;
                margin-right: 0.5rem;
            }
            &__socials {
                &-social {
                    font-size: 1.25rem;
                    margin: 0 0.35rem
                }
            }
        }
    }
}