<div class="row">
    <div class="col-12">
        <h1>Crea tus propios Pipes</h1>
        <p>JSON: {{obj | json}}</p>
        <p>Texto: {{stringVar | titlecase}}</p>
        <p>Date: {{dateVar | date}}</p>
        <p>Date medium: {{dateVar | date:'medium'}}</p>
        <p>Date full: {{dateVar | date:'full'}}</p>
        <p>Date shortTime: {{dateVar | date:'shortTime'}}</p>
        <p>Date mm:ss: {{dateVar | date:'mm:ss'}}</p>
        <p>Date fullTime: {{dateVar | date:'fullTime'}}</p>
        <p>Currency: {{currencyVar | currency}}</p>
        <p>Currency: {{currencyVar | currency:'MXN'}}</p>
        <p>Decimal: {{decimalVar | number:'1.2-5'}}</p>
        <p>Pocentaje: {{decimalVar | percent}}</p>
        <p>Custom Pipe: {{user.name | greeting:user.gender:user.role }}</p>
    </div>
</div>